/* 设置整个页面背景图和基本样式 */
body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/bg7.jpg'); /* 背景图路径 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;      /* 从顶部开始排列 */

    align-items: center;
    min-height: 85vh;                /* 最小高度是视口高度，可以超过 */
    padding-top: 160px;                /* 根据需要调节向下留白 */
    box-sizing: border-box; 
}

/* 包裹内容的容器 */

/* 输入框样式 */
input[type="text"] {
    width: 70vw;
    padding: 13px 18px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* 按钮样式 */
button {
    margin-top: 12px;                /* 按钮上方外边距 */
    padding: 13px 30px;              /* 增加上下和左右内边距，让按钮更高更宽 */
    font-size: 1.2rem;               /* 字体加大，和输入框字体大小相匹配 */
    background-color: rgba(0, 0, 0, 1.0);  /* 纯黑色背景 */
    color: white;                   /* 文字白色 */
    border: none;                   /* 无边框 */
    border-radius: 6px;             /* 圆角 */
    cursor: pointer;                /* 鼠标悬停时显示为指针，表示可点击 */
    min-width: 80px;               /* 最小宽度，保证按钮不会太窄 */
}




/* 输出结果标题 */
h2 {
    margin-top: 30px;
    font-size: 1.5rem;
}

/* 输出段落样式 */
.result {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 1.2rem;

    padding: 10px;
    border-radius: 6px;
    word-wrap: break-word;
    text-align: left; 
}
